{% extends "empty_layout.html" %}
{% block title %}{{ voting['name'] }} :: {% endblock %}
{% block meta %}
<meta name="description" content="{{ voting['name'] }}. {{_('Leave your vote in on-line voting.') }}">
<meta property="og:type" content="article">
<meta property="og:image" content="http://{{ config['SERVER_NAME'] }}/images/ico.png">
<meta property="og:title" content="{{ voting['name'] }}">
<meta property="og:url" content="http://{{ config['SERVER_NAME'] }}/voting/{{ voting['id'] }}">
<meta property="og:description" content="{{_('Leave your vote in on-line voting.') }}">
{% endblock %}
{% block body %}
{% if not user.is_authenticated() %}
<div class="modal" id="frmAuth">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ _('Sign in') }}</h4>
            </div>
            <div class="modal-body">
                {% if config.AUTH_VKONTAKTE %}
                <a href="javascript:void(0);" data-auth-method="vkontakte" class="btn btn-default btn-social btn-social-vk">Вконтакте</a>
                {% endif %}
                {#
                <a href="javascript:void(0);" data-auth-method="facebook" class="btn btn-default btn-social btn-social-fb">Facebook</a>
                <a href="javascript:void(0);" data-auth-method="twitter" class="btn btn-default btn-social btn-social-twitter">Twitter</a>
                <a href="javascript:void(0);" data-auth-method="google" class="btn btn-default btn-social btn-social-google">Google</a>
                #}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Close') }}</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#frmAuth .modal-body a.btn-social').click(function(e) {
        $('#frmAuth').modal('hide');
        $('#frmVote')
            .data('auth-method', $(this).data('auth-method'))
            .submit();
    });
</script>
{% endif %}

<ol class="breadcrumb">
    <li><a href="{{ url_for('voting.voting_list') }}">{{ _('Votings') }}</a></li>
    <li>{{ voting['name'] }}</li>
</ol>

<h1>{{ voting['name'] }}</h1>

<div class="row-fluid top-space">
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                {{ _('Variants') }}
                {% if current_user.is_authenticated() and voting.owner == current_user %}
                    <div class="btn-toolbar pull-right">
                        <a href="{{ url_for('voting.variant_new', voting_id=voting.id) }}" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-plus"></span> {{ _('Add variant') }}</a>
                    </div>
                {% endif %}
            </div>
            <ul id="variants" class="votingPanel list-group">
                {% for variant in voting.variants %}
                <li class="list-group-item">
                    <input type="hidden" name="variant[]" value="{{ variant.id }}"/>
                    <h4 class="list-group-item-heading">{{ variant.title }}</h4>

                    <p class="list-group-item-text">{{ variant.description }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="col-md-6">
        <form id="frmVote" method="post" action="{{ url_for('vote.vote_save', voting_id=voting['id']) }}" data-auth-method="{{ user.is_authenticated() }}">
            <div class="panel panel-success">
                <div class="panel-heading">
                    {{ _('Vote') }}
                    <button type="submit" class="btn btn-danger btn-xs pull-right" style="display: none;">
                        <span class="glyphicon glyphicon-send"></span> {{ _('Vote') }}
                    </button>
                </div>

                <ul id="vote" class="votingPanel list-group">
                    <li class="list-group-item" id="lblDropPlaceMarker">{{ _('Place your vote here') }}</li>
                </ul>

            </div>
        </form>

        <div style="font-size: 12px;">
            <p class="bg-success" style="padding: 10px; margin: 10px 0;">
                <span class="glyphicon glyphicon-info-sign"></span>
                {{ _('Standard systems allow to choose just one option among several. Because of this majority vote may cause dissatisfaction for large part of respondents as their voice in fact not taken into account. If the winning option voted 40 percents of respondents thought that the other 60 is not included. So respondent will not vote for the most suitable option, but for the most traversed to get to the percentage of winners. This voting system allows you to build acceptable ratings , and get the winning result that will satisfy the most number of respondents. Each option of the rating assigned a score greater the higher the option in rating. The winner is not the option that received the most first places in the ranking, but the one that received the most amount of points.') }}
            </p>
            <p class="bg-success" style="padding: 10px; margin: 10px 0;">
                <span class="glyphicon glyphicon-ok"></span> {{ _('Drop variants in order of your favour') }}
            </p>
            <p class="bg-success" style="padding: 10px; margin: 10px 0;">
                <span class="glyphicon glyphicon-ok"></span> {{ _('Skip variants you don\'t want to vote for') }}
            </p>
        </div>
    </div>
</div>

<script type="text/javascript">
    // sort votes
    $("#variants, #vote")
    .sortable({
        connectWith: ".votingPanel",
        placeholder: 'drop-placeholder',
        helper: function(e, elem) {
            console.log(elem);
            return elem.clone().addClass('drag-helper');
        },
        update: function(e, ui) {
            if($('#vote li').length) {
                $('#frmVote button[type=submit]').show();
            }
            else {
                $('#frmVote button[type=submit]').hide()
            }

        }
    })
    .disableSelection();

    $('#vote')
        .on('sortover', function() {
            $('#lblDropPlaceMarker').remove();
        })
        .sortable("option", "cancel", "#lblDropPlaceMarker" );

    // send form
    $('#frmVote').submit(function(e) {
        e.preventDefault();
        var $frm = $(this);

        // check auth
        var authMethod = $frm.data('auth-method');
        if(authMethod === 'False') {
            // show login form
            $('#frmAuth').modal();
        } else if(authMethod === 'True') {
            // save vote for authorised user
            $.post($frm.attr('action'), $frm.serialize(), function(response) {
                if(response.error == 0) {
                    location.href = response.redirect_url;
                }
            }, 'json');
        } else {
            // save vote in session for unauthorised user
            $.post($frm.attr('action'), $frm.serialize() + '&auth_method=' + authMethod, function(response) {
                if(response.error == 0) {
                    location.href = response.redirect_url;
                }
            }, 'json');
        }

    })

</script>

{% endblock %}