{% extends "empty_layout.html" %}
{% block title %}{{ _('Voting list') }} :: {% endblock %}
{% block body %}
<h1>{{ _('Available votings') }}</h1>
    <div class="btn-toolbar bottom-space">
        <a href="/voting/new" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-plus"></span> {{ _('Add voting') }}</a>
    </div>
<table class="table table-striped">
    <tr>
        <th>{{ _('Name') }}</th>
    </tr>
    {% for voting in voting_list %}
    <tr>
        <td><a href="{{ url_for('voting.voting_variants', voting_id=voting['id']) }}">{{ voting['name'] }}</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}